[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
numpy = "*"
python-binance = "*"

[dev-packages]
discover = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
