[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
numpy = "*"
python-binance = "*"
tradingview-ta = "*"

[dev-packages]
discover = "*"
matplotlib = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
